@forward 'node_modules/@supple-kit/supple-css/settings/defaults' with (
  $font-size: 16px,
  $line-height: 24px,
);

@use 'node_modules/@supple-kit/supple-css/tools/space';
$space-base: space.get('base');
$space-tiny: space.get('tiny');
$space-large: space.get('large');
$space-small: space.get('small');
